.body {
    text-align: center; 
    margin-top: 1px;
    height: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    gap: 50px;
}

button {
    padding: 15px 30px;  
    font-size: 18px;      
    border-radius: 100px;  
    cursor: pointer;
    background-color: #ebebeb; 
    color: rgb(0, 0, 0);      
    border: none;       
}

button:hover {
    background-color: #515551; 
}
/* Tambahkan animasi kelap-kelip */
@keyframes blink {
    0% {
        background-color: #ff0000;
    }
    50% {
        background-color: #00ff00;
    }
    100% {
        background-color: #ff008c;
    }
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    gap: 50px;
}

button {
    padding: 15px 30px;  
    font-size: 18px;      
    border-radius: 100px;  
    cursor: pointer;
    background-color: #ebebeb; 
    color: rgb(0, 0, 0);      
    border: none;       
    /* Tambahkan animasi kelap-kelip pada tombol */
    animation: blink 1s infinite;
}

button:hover {
    background-color: #515551; 
    /* Menghentikan animasi saat hover */
    animation: none;
}